<div class="ui small inverted menu menu-bg">
  <div class="ui container">
    <%= link_to "Orange Chatroom", root_path, class: "item" %>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to "Log Out", logout_path, method: :delete, class: "item" %>
          <% else %>
            <%= link_to "Log in", login_path, class: "item" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>